 
#headimage      { position:relative; width:180px; height:180px; overflow:hidden; background-color:#80FFFF; float:left;}

#headimage span { position:absolute; width:180px; height:180px; left:0; top:0; 
           background:url("../img/yurenjie.jpg") no-repeat; }
		   
#info { padding: 20px; margin-bottom:10px; background-color:white; width:auto; height:200px;}

.person-info { margin-top:30px; margin-left:2%; float: left;}
.person-nick-name { font-size:24px;}
.person-info dd {margin-bottom:10px}
.person-sign { border-top: 1px solid #f0f0f0; font-size: 14px; color:#999; padding-top:8px; }
.person-detail span { font-size:14px; color: #999; padding:0 10px; }
.person-detail {font-family:KaiTi,SimHei,SimSun,verdana,arial,sans-serif;}

.label-title { font-size:24px; margin-bottom:20px; font-family:LiSu,KaiTi,SimHei,sans-serif; padding:10px;}