
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <title>愚人驿站</title>
 <link href="/images/index/profile.ico" rel="shortcut icon" />
 <link href="/css/index/bootstrap.min.css" type="text/css" rel="stylesheet">
 <link href="/css/index/style.css" type="text/css" rel="stylesheet">
 <link href="/css/index/index.css" type="text/css" rel="stylesheet">
</head>
<body id="by" style="overflow-y: show" >
	<div id="wrapper" class="home-page">
	<section class="section-padding gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2>欢迎光临本站！</h2>
						<!--p>Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada Pellentesque <br>ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat.</p-->
					</div>
				</div>
			</div>
			<div class="row service-v1 margin-bottom-40">
				<div class="col-md-4 md-margin-bottom-40">
				   <a href="https://blog.xyz0751.com"><img class="img-responsive" src="/images/index/img0.png" alt=""></a>
				   <h3>愚人码头</h3>
				   <p>个人空间——学习笔记、知识分享、人生感悟等等</p>        
				</div>
				<div class="col-md-4 md-margin-bottom-40">
					<img class="img-responsive" src="/images/index/img1.png" alt="">            
					<h3>在线工具</h3>
					<p>常用小工具，尚在开发中~</p>        
				</div>
				<div class="col-md-4 md-margin-bottom-40">
				  <img class="img-responsive" src="/images/index/img2.png" alt="">  
					<h3>未完待续</h3>
					<p>精彩纷呈，敬请期待（纯粹为了占个位，显得丰满些）~</p>        
				</div>
			</div>
			<!--div class="row service-v1 margin-bottom-40">
			    <div class="col-md-4 md-margin-bottom-40">
				   <img class="img-responsive" src="img/img8.jpg" alt="">   
					<h3>Apartments</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident</p>        
				</div>
				<div class="col-md-4 md-margin-bottom-40">
					<img class="img-responsive" src="img/img9.jpg" alt="">            
					<h3>luxury Villas</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident</p>        
				</div>
				<div class="col-md-4 md-margin-bottom-40">
				  <img class="img-responsive" src="img/img10.jpg" alt="">  
					<h3>Gated Projects</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident</p>        
				</div>
			</div-->
		</div>
	</section>
	</div>
	<footer id="bottom">
	  <br>
	  <span>Copyright ©2020 by 愚仁杰 | </span>
	  <a href="http://www.beian.miit.gov.cn/?token=f6d56870-421c-4358-8792-58a036a509ec" target="_blank">粤ICP备20033630号-1</a>
	</footer>
</body>
</html>